name: Lab Workflow

on:

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:   

    inputs:
      environment:
        description: 'Choose environment'
        required: true
        default: 'development'
        type: choice
        options:
          - dev
          - prod

jobs:
  show-input:
    runs-on: ubuntu-latest
    steps:
      - name: Display input value
        run: echo Selected environment is ${{ github.event.inputs.environment }}
      - name: dev step
        if: ${{ github.event.inputs.environment == 'dev' }}
        run: echo This runs only for dev
      - name: prod step
        if: ${{ github.event.inputs.environment == 'prod' }}
        run: echo This runs only forr prod


